#header {
  border-bottom: 1px solid brown;
  background: #FF7373;
  color: white;
}

#info {
  text-align: center;
  background: brown;
  color: white;
  border-radius: 8px;
  margin-bottom: 10px;
}

#info a {
  text-decoration: none;
  color: white;
}

.grid_3 {
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  background: #FF7373;
  margin-bottom: 20px;
}

.index {
  font-weight: bold;
}

#sidebar {
  border: 2px solid brown;
  border-radius: 8px;
  background: brown;
  color: white;
  min-height: 600px;
}

.submenu {
  border: 2px solid;
  border-radius: 8px;
  background: #FF7373;
  margin: 10px;
}

.submenu h5 {
  text-align:center;
  border-bottom: 1px dotted white;
}

