#main.alpha.grid_9
  %h3#vtitle Simple Ads Server
  %div.grid_9
    %div.grid_3 Test
    %div.grid_3 Test
    %div.grid_3 Test
    %div.grid_3 Test
    %div.grid_3 Test
    %div.grid_3 Test
    %div.grid_3= "#{2/5*100}%" 
#sidebar.omega.grid_3
  .submenu
    %h5 aaaa
  .submenu
    %h5 aaaa
  .submenu
    %h5 aaaa
