#main.alpha.grid_9
  %h3#vtitle Simple Ads Server
  %table
    %tr.grid_9
      %td.alpha.grid_3 Test
      %td.grid_3 Test
      %td.omega.grid_3 Test
    %tr.grid_9
      %td.alpha.grid_3 Test
      %td.grid_3 Test
      %td.omega.grid_3 Test
    %tr.grid_9
      %td.alpha.grid_3 Test
      %td.grid_3 Test
      %td.omega.grid_3 Test
    %tr.grid_9
      %td.alpha.grid_3 Test
      %td.grid_3 Test
      %td.omega.grid_3 Test
#sidebar.omega.grid_3
  .submenu
    %h5 aaaa
  .submenu
    %h5 aaaa
  .submenu
    %h5 aaaa
