<div id="main" class="alpha grid_9">
  <h3 id="vtitle">aaaa</h3>
  <div class="alpha grid_3">
    <div class="vcol">
      aaa
    </div>
  </div>
  <div class="grid_3">
    <div class="vcol">
      aaa
    </div>
  </div>
  <div class="omega grid_3">
    <div class="vcol">
      aaa
    </div>
  </div>
</div>

<div id="sidebar" class="omega grid_3">
  <div class="submenu">
    <h5>aaaa</h5>
  </div>
  <div class="submenu">
    <h5>aaaa</h5>
  </div>
  <div class="submenu">
    <h5>aaaa</h5>
  </div>
</div>
