!!!
%html
  %head
    %title SimpleAdsServer
    = stylesheet_link_tag 'admin' ,'960', 'reset', 'text'
    = javascript_include_tag 'jquery', 'application'
    = csrf_meta_tag
  %body
    #header
      .container_12
        %h1{:style => "margin-bottom:0px;"} Simple Ads Server
        %p{:style => "margin-top:0px; margin-bottom:3px;"} Control your ads with SAS.
    %br
      #content.container_12
        = yield

