<!DOCTYPE html>
<html>
<head>
  <title>SimpleAdsServer</title>
  <%= stylesheet_link_tag 'admin' ,'960', 'reset', 'text' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <div class="container_12">
      <h1 style="margin-bottom:0px;">Simple Ads Server</h1>
      <p style="margin-top:0px; margin-bottom:3px;">Control your ads with SAS.</p>
    </div>
  </div>

  <br>

  <div id="content" class="container_12">
    <%= yield %>
  </div>
  
</body>
</html>
